:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc501;
  --section-color: #eff7fa;
  --login-color: #ffc400;
}

body {
  font-family: "Roboto", serif;
}
.main-btn {
  color: var(--yellow-color);
  background-color: var(--red-color);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.main-btn:hover {
  color: var(--yellow-color);
  background-color: var(--red-color);
}
.main-title::after {
  content: " ";
  width: 120px;
  height: 3px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* start navbar */
.navbar {
  background-color: var(--dark-color);
}

.navbar .navbar-toggler {
  color: var(--bs-white);
  border-color: var(--bs-white);
}

.navbar .nav-item .nav-link {
  color: var(--bs-white);
}

.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus {
  color: var(--green-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}

.navbar .search svg {
  color: var(--green-color);
}

/* start landing */
.landing {
  background-color: var(--dark-color);
  color: var(--bs-white);
  min-height: calc(100vh - 72px);
}

/* srart features */
.features .icon-holder {
  height: 200px;
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder .number {
  width: 78px;
  height: 194px;
  color: var(--section-color);
}

.features .icon-holder .icon {
  width: 59px;
  height: 59px;
  color: var(--green-color);
}

.features .feat h4 {
  color: var(--yellow-color);
}

/* start portfolio */
.portfolio {
  background-color: var(--section-color);
}

.portfolio ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.portfolio ul li.active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}

.portfolio ul li:not(.active):hover {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
/* start teams */
.team {
  background-color: var(--section-color);
}
.team .title h2 {
  color: var(--yellow-color);
}
.team .row .card h4 {
  background-color: var(--green-color);
}

/* start blog */
.blog .info {
  background-color: var(--dark-color);
  color: var(--bs-white);
}

/* start subscribe */
.subscribe {
  background-color: var(--login-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: transparent;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe .btn {
  background-color: var(--dark-color);
  color: var(--yellow-color);
}
.subscribe ::placeholder {
  color: white;
}
.footer {
  background-color: var(--dark-color);
  color: var(--bs-white);
}
